<h1> <%= @meal.name %> </h1>

<body>
<h3>Recipes: </h3>

<% @recipes.each do |recipe| %>
    <li> <%=recipe.name%> </li>
<% end %>

<%= button_to "Delete meal", url: '/meals/destroy', method: :delete %><br>

</body>